body {
    background-color: black;
}

#myLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: green;
}

#btn-container {
    text-align: center;
}



.buttons {
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: rgb(213, 203, 203);
}


.main {
    position: relative;
    top: 100px;
    border: 2px solid yellow;
    height: 500px;
    border-radius: 500px;
    width: 650px;
    left: 430px;
    background-color: rgba(153, 205, 50, 0.767);
    align-content: center;
}



@media screen and (max-width: 600px) {
    #myLabel {
        font-size: 5em;
    }

    h1 {
        font-size: 2em;
    }

    .buttons {
        font-size: 1.2rem;
        padding: 8px 16px;
    }
}